.DS_Store

*.local

dist
dist-ssr
node_modules
package-lock.json

# Yarn
yarn.lock

# Yarn 2
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
# !.yarn/cache
# !.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
# !.yarn/versions
.pnp.*